*{
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  border: none;
  color: #fff;
}
body {
  overflow: hidden;
  background-color: #424549;
  display: flex;
  justify-content: center;
  align-items: center;
}
input:focus, label:focus {
  outline: none;
}
.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 2px #23272a;
  border-right: solid 2px #23272a;
  margin-top: 170px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: rgb(43,47,52,90%);
  padding: 25px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.380);
  animation: go-back 2s infinite alternate;
}
.box label {
  font-weight: bold;
  font-size: .8rem;
  width: 100%;
}
.box input {
  background-color: rgb(43,47,52,80%);
  border-bottom: solid 2px #23272a;
  padding: 10px;
  font-size: .9rem;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 40px;
}
.box input:focus {
  border-color: #4b1c8c;
}
.box button {
  border-radius: 100%;
  height: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: .9rem;
  transition: 0.5s;
  cursor: pointer;
  width: 33%;
}
.button {
justify-content: space-between;
display: flex;
height: 150px;
width: 100%;
}
.red:hover{
  background-color: #ff0000;
}
.green:hover{
  background-color: #00ff00;
}
.yellow:hover{
  background-color: #ffff00;
}
.red{
  background-color: #870000df;
}
.green{
  background-color: #008000d6;
}
.yellow{
  background-color: #939300de;
}
.box h1{
  margin-bottom: 25px;
  font-size: 1.6rem;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border: 100px solid transparent;
  border-top: 100px solid #282b30;
  border-right: 100px solid #282b30;
  bottom: 0;
  border-top: 100px solid #282b30;
  border-right: 100px solid #282b30;
  border-bottom: 0px solid #282b30;
}
body::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border: 100px solid transparent;
  border-bottom: 100px solid #282b30;
  border-left: 100px solid #282b30;
  border-top: 0px solid #282b30;
  top: 0;
}
@keyframes go-back {
  from {
    transform: translatey(10px);
  }
  to {
    transform: translatey(-10px);
  }
}
.box:hover{
  animation: none;
}
#error {
  margin-top: 10px;
}